@charset "utf-8";
/* CSS Document */
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: #1a0321;
    font-family:consolas;
}
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -20%;
    width: 20%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
 }
 .btn-neon:hover #span1{
    left:20%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -20%;
    width: 20%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .btn-neon:hover #span3{
    right: 20%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -20%;
    right: 20;
    width: 2px;
    height: 20%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
    top: 200%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -20%;
    left: 
    width: 2px
    height: 20%
    background: linear-gradient(360deg,transparent)
}
.btn-neon:hover #span4
    bottom: 2
    0%
    transition: 1s
    transition-delay: 0.75s;
}